<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>EnOS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>EnvAppCode</key>
	<string/>
	<key>EnvList</key>
	<array>
		<dict>
			<key>EnvAppKey</key>
			<string>5aeda895-8a09-4476-ad5f-b11e723c119a</string>
			<key>EnvAppSecret</key>
			<string>be8e5d83-6450-44e4-b9d2-7239ada09bbd</string>
			<key>Envirnment</key>
			<string>env_ch</string>
		</dict>
		<dict>
			<key>EnvAppKey</key>
			<string>f6f95928-7e41-431e-a61d-f051851e826e</string>
			<key>EnvAppSecret</key>
			<string>3c57f86b-c19e-4aad-96c1-56d11c921eb2</string>
			<key>Envirnment</key>
			<string>env_eur</string>
		</dict>
		<dict>
			<key>EnvAppKey</key>
			<string>714714cc-d717-4bbf-9482-345cd8f0c657</string>
			<key>EnvAppSecret</key>
			<string>ba72bf45-fde8-4e56-9fdd-04fcaa757d19</string>
			<key>Envirnment</key>
			<string>env_us</string>
		</dict>
		<dict>
			<key>EnvAppKey</key>
			<string>16bbca4f-3cda-48f8-b8d7-57ed04dbb6ba</string>
			<key>EnvAppSecret</key>
			<string>a829bdee-6cb8-4e99-a41b-885d4bbae228</string>
			<key>Envirnment</key>
			<string>env_india</string>
		</dict>
	</array>
	<key>EnvLoginLogo</key>
	<string>logo</string>
	<key>EnvQR</key>
	<string>qr-code</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>need camera access to take pictures</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>以便获取您所在位置的天气信息</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>以便获取您所在位置的天气信息</string>
	<key>NSMainNibFile</key>
	<string/>
	<key>NSMainNibFile~ipad</key>
	<string/>
	<key>NSMicrophoneUsageDescription</key>
	<string>need microphone access to record sounds</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>need photo library access to save pictures there</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>need photo library access to get pictures from there</string>
	<key>UIAppFonts</key>
	<array>
		<string>mapicon.ttf</string>
		<string/>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UmengAppkey</key>
	<string>5e0077e8570df378b6000261</string>
	<key>UmengChannel</key>
	<string>prod</string>
	<key>EnvDefaultContainer</key>
	<string>EnvWebViewController</string>
</dict>
</plist>